## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
import sys
sys.path.insert(0,"..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,% Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,73.5069,80.5464,37.67,99,100,15.19,overcast clouds
1,1,Yulara,AU,-25.2406,130.9889,64.24,48,90,4.61,overcast clouds
2,2,Houma,US,29.5958,-90.7195,91.40,75,1,9.22,clear sky
3,3,Chuy,UY,-33.6971,-53.4616,42.58,70,11,15.95,few clouds
4,4,Coihaique,CL,-45.5752,-72.0662,35.55,93,0,2.30,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,% Humidity,% Cloudiness,Wind Speed,Current Description
9,9,Lahij,YE,13.1667,44.5833,80.01,67,27,0.98,scattered clouds
10,10,Hithadhoo,MV,-0.6000,73.0833,81.19,77,100,9.24,overcast clouds
11,11,Amahai,ID,-3.3333,128.9167,81.91,78,97,3.20,overcast clouds
12,12,Davila,PH,18.4726,120.5763,84.18,86,100,22.55,overcast clouds
13,13,Avarua,CK,-21.2078,-159.7750,77.05,65,63,4.61,broken clouds
14,14,Pundaguitan,PH,6.3711,126.1689,84.54,75,24,15.14,few clouds
19,19,Hambantota,LK,6.1241,81.1185,77.34,94,100,5.75,overcast clouds
21,21,Nauta,PE,-4.5061,-73.5757,75.65,85,100,3.74,overcast clouds
23,23,Butaritari,KI,3.0707,172.7902,81.66,70,100,3.56,light rain
28,28,Ribeira Grande,PT,38.5167,-28.7000,72.12,83,23,9.35,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                292
City                   292
Country                292
Lat                    292
Lng                    292
Max Temp               292
% Humidity             292
% Cloudiness           292
Wind Speed             292
Current Description    292
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Lahij,YE,80.01,scattered clouds,13.1667,44.5833,
10,Hithadhoo,MV,81.19,overcast clouds,-0.6000,73.0833,
11,Amahai,ID,81.91,overcast clouds,-3.3333,128.9167,
12,Davila,PH,84.18,overcast clouds,18.4726,120.5763,
13,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,
14,Pundaguitan,PH,84.54,few clouds,6.3711,126.1689,
19,Hambantota,LK,77.34,overcast clouds,6.1241,81.1185,
21,Nauta,PE,75.65,overcast clouds,-4.5061,-73.5757,
23,Butaritari,KI,81.66,light rain,3.0707,172.7902,
28,Ribeira Grande,PT,72.12,few clouds,38.5167,-28.7000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
print("Process beginning ...")

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

print("Process finished.")

Process beginning ...
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Process finished.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

print(hotel_df["Hotel Name"].value_counts())
print(hotel_df.count())

clean_hotel_df = hotel_df.dropna(how = "any")

print(clean_hotel_df["Hotel Name"].value_counts())
print(clean_hotel_df.count())
print(clean_hotel_df)

                                                  26
samassa la                                         1
Infinity Motel                                     1
Aldea del Bazar Hotel and Spa                      1
Amazon Exploring Expedition - Eretzen Tá Lodge     1
                                                  ..
Manaus Hotéis Millennium                           1
خوابگاه اساتيد دانشگاه دامغان                      1
Palolem Beach Resort                               1
Sooke Harbour House Hotel & Resort                 1
Hotel Nemuro Kaiyoutei                             1
Name: Hotel Name, Length: 267, dtype: int64
City                   292
Country                292
Max Temp               292
Current Description    292
Lat                    292
Lng                    292
Hotel Name             292
dtype: int64
                                                  26
samassa la                                         1
Infinity Motel                                     1
Aldea del Bazar Hotel and Spa                      1
Amazon Exploring Expedition - Eretzen Tá Lodge     1
                                                  ..
Manaus Hotéis Millennium                           1
خوابگاه اساتيد دانشگاه دامغان                      1
Palolem Beach Resort                               1
Sooke Harbour House Hotel & Resort                 1
Hotel Nemuro Kaiyoutei                             1
Name: Hotel Name, Length: 267, dtype: int64
City                   292
Country                292
Max Temp               292
Current Description    292
Lat                    292
Lng                    292
Hotel Name             292
dtype: int64
             City Country  Max Temp Current Description      Lat       Lng  \
9           Lahij      YE     80.01    scattered clouds  13.1667   44.5833
10      Hithadhoo      MV     81.19     overcast clouds  -0.6000   73.0833
11         Amahai      ID     81.91     overcast clouds  -3.3333  128.9167
12         Davila      PH     84.18     overcast clouds  18.4726  120.5763
13         Avarua      CK     77.05       broken clouds -21.2078 -159.7750
..            ...     ...       ...                 ...      ...       ...
665     Zhanaozen      KZ     73.94     overcast clouds  43.3000   52.8000
666  Komsomolskiy      UZ     81.32           clear sky  40.4272   71.7189
676         Terme      TR     75.96     overcast clouds  41.2092   36.9739
678        Nemuro      JP     81.03    scattered clouds  43.3236  145.5750
679     Kathmandu      NP     70.02       broken clouds  27.7167   85.3167

                  Hotel Name
9
10         Scoop Guest House
11             HOTEL ISABELA
12   Blue Ridge Beach Resort
13              Paradise Inn
..                       ...
665            K.korabay 28A
666                Ikathouse
676         OTEL GÜVEN TERME
678   Hotel Nemuro Kaiyoutei
679  Hotel Shanker Kathmandu

[292 rows x 7 columns]

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search\WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Call the figure to plot the data.
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))